

    @media only screen and (min-width: 500px) {
        .navmargin{
            margin-left: 170px;}
       
      }
      pre{white-space:pre-wrap}

      @media only screen and (max-width: 500px) {
        .imageininerary{
          height: 400px;
          width: 500px;
        }
       
      }
     .privebackground{
      background-color: #FAD02C;
     }
     .groupbackground{
      background-color: #B5E5CF      ;
     }
      .radiosize{
        height: 15px;
        width: 15px;}
      .flag{
        height: 20px;
        width: 20px;
      }
      /*.imageininerary{
        height: 700px;
        width: 1000px;
      }*/